@font-face {
    font-family: "PoalimSans";
    src: url(../fonts/PoalimSans-Medium.woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "PoalimSans";
    src: url(../fonts/PoalimSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "PoalimSans";
    src: url(../fonts/PoalimSans-Light.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "PoalimSans";
    src: url(../fonts/PoalimSans-Light.woff);
    font-weight: 300;
    font-style: normal;
}



// @font-face {
//     font-family: PoalimSans-Medium;
//     src: url(../fonts/PoalimSans-Medium.woff);
// }
// @font-face {
//     font-family: PoalimSans-Bold;
//     src: url(../fonts/PoalimSans-Bold.woff);
// }
// @font-face {
//     font-family: PoalimSans-Light;
//     src: url(../fonts/PoalimSans-Light.woff);
// }

