.colorPalette1 {
    background: linear-gradient(90deg, #184E68, #57CA85);
}

.colorPalette2 {
    background: linear-gradient(90deg, #FE502F, #DE2573);
}

.colorPalette3 {
    background: linear-gradient(90deg, #F76B1C, #FAD961);
}

.colorPalette4 {
    background: linear-gradient(90deg, #3594E6, #EB6EAD);
    margin-bottom: 0;
}

.colorPalette5 {
    background: linear-gradient(90deg, #C56CD6, #3425AF);
}

.colorPalette6 {
    background: linear-gradient(90deg, #02AAB0, #00CDAC);
}

.colorPalette7 {
    background: linear-gradient(90deg, #C21036, #DE251B);
}

.colorPalette8 {
    background: linear-gradient(90deg, #1BCEDF, #5B247A);
    margin-bottom: 0;
}
.orangeCircle {
    background: url(../img/orangeCircle.svg) 100% 100% no-repeat;
    background-size: 100%;
}
.blueCircle {
    background: url(../img/blueCircle.svg) 100% 100% no-repeat;
    background-size: 100%;
}
.darkBlueCircle {
    background: url(../img/darkBlueCircle.svg) 100% 100% no-repeat;
    background-size: 100%;
}